.terraform.lock.hcl
.terraform/
**/terraform.tfstate
**/.terraform.tfstate
**/environments/prd/terraform.tfstate
**/environments/prd/terraform.tfstate.backup
**/terraform.tfstate.backup
**/.terraform.tfstate.backup
common/.infracost/
